<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="http://crm.meiqia.com/public/img/favicon.png" />
    <% if (process.env.NODE_ENV === 'production') {  %>
    <link href="<%= global.cdnHost %>/assets/main.min.css?_=<%= global.fileHash %>" rel="stylesheet">
    <% } else { %>
    <link href="/public/css/main.css" rel="stylesheet">
    <% } %>
</head>