.index-pageheader {
    width: 100%;
    height: 88px;
    background-color: #f7f7f8;
    position: relative;
}

.index-layer {
    width: 60px;
    height: 28px;
    padding-left: 20px;
    font-family: PingFangSC;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    color: #2a3541;
}

.index-rounded__rectangle {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #5a6978;
    padding: 0;
}

.index-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.index-seal__solid-24 {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    display: inline-block;
    color: #fff;
}

.index-filter__bar {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(52, 63, 75, 0.12), 0 0 0 1px rgba(52, 63, 75, 0.06);
}

.index-filter__bar:last-child {
    margin-left: 10px;
}

.index-tab {
    flex: 1;
    box-sizing: border-box;
    overflow: auto;
    background: #fff;
    height: -webkit-calc(100% - 136px);
    overflow: hidden;
}

.index-tab__header {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;    
    ul {
        padding-left: 30px;
    }
    &>div {
        padding: 0;
    }
}

.tab-content {
    height: 100%;
    padding: 0 !important;
    flex: 1;
}
.table {
    &-wrapper {
        height: inherit;
        position: relative;
        overflow-y: auto;
        & :global(.mcds-table__Th):first-child {
            a{
                padding-left: 50px;
            }
        }
        & :global(.mcds-truncate) {
            a{
                padding-left: 30px;
            }
        }
    }
    &-fixed {
        table-layout: fixed;
    }
    &-th__width {
        width: 40px;
    }
    &-data__null {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
.height62{
    background: #fff;
    box-shadow: inset 0 1px 0 0 rgba(52, 63, 75, 0.12), 0 0 0 1px rgba(52, 63, 75, 0.06);    
}
.fixedLayout{
    position: absolute;
    left: 48%;
    top: 40px;
}
.cursorAuto{
    a{
        cursor: default !important;   
    }
}