.vetting-footer {
    position: fixed;
    bottom: 28px;
    left: 20px;
    right: 20px;
    height: 56px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 12px 24px 0 rgba(42, 53, 65, 0.12), 0 0 1px 0 rgba(42, 53, 65, 0.24), 0 24px 48px 0 rgba(42, 53, 65, 0.32);
    padding: 20px 30px;
}
