<div id="wrap">
    <%- include('includes/top-bar') %>
    <div id="main" class="w100">
        <div class="notice hide">
            <img class="bell" src="/public/img/notice.svg">
            <p></p>
            <img class="close" src="/public/img/close.svg">
        </div>
        <div class="content" id="firstStep">
            <form id="firstForm" autocomplete="on">
                <h5 id="signin-title">创建美洽账号</h5>
                <div id="tellphone" class="form-group">
                    <label>用户名</label>
                    <input class="form-control" type="text" placeholder="手机号">
                    <i class="clear hide">
                        <img src="/public/img/clear.png">
                    </i>
                    <div class="warning">123</div>
                </div>
                <div id="captcha" class="form-group">
                    <label>图形验证码</label>
                    <input class="form-control" maxlength='5' type="text">
                    <img id="captchaImg" class="pull-right" src="" alt="获取验证码">
                    <div class="warning"></div>
                </div>
                <div id="verify" class="form-group">
                    <div class="verifytips hide">
                        <p>请输入 6 位数短信验证码。</p>
                        <p>如果收不到短信验证码，请尝试获取<a href="javascript:void(0)">语音验证码。</a></p>
                    </div>
                    <label>手机验证码</label>
                    <input class="form-control" maxlength='6' type="text">
                    <button type="button" id="verifyBtn" class="pull-right">发送验证码</button>
                    <div class="warning"></div>
                </div>
                <div id="tips" >
                    <input id="tipsInput" type="checkbox" checked="checked" />
                    <label for="tipsInput">我同意并遵守<a target="_blank" href='http://meiqia.com/agreement'>《美洽用户服务条款》</a></label>    
                </div>
                <div class="submit-group">
                    <button type="button" id="firstSubmitBtn" class="submitBtn">下一步</button>
                    <div class="warning"></div>
                </div>
            </form>
        </div>
        <div class="content hide" id="secStep">
            <form id="secForm" autocomplete="on">
                <h5 id="signin-title">设置密码</h5>
                <div id="password" class="form-group">
                    <div class="passwordtips hide">
                        <p>密码强度：<span class="strengthText"></span></p>
                        <div class="process"><p></p></div>
                        <p>请至少使用 8 个字符。请勿使用你用于登录其他网站的密码或容易被猜到的密码。</p>
                    </div>
                    <label>设置密码</label>
                    <input class="form-control" type="password">
                    <i class="clear hide">
                        <img src="/public/img/clear.png">
                    </i>
                    <div class="warning"></div>
                </div>
                <div id="confirm" class="form-group">
                    <label>确认密码</label>
                    <input class="form-control" type="password">
                    <i class="clear hide">
                        <img src="/public/img/clear.png">
                    </i>
                    <div class="warning"></div>
                </div>
                <div class="submit-group">
                    <button type="button" id="secSubmitBtn" class="submitBtn">确定</button>
                    <div class="warning"></div>
                </div>
            </form>
        </div>
        <div class="content hide" id="finish">
            <h5 class="m-b__10"><img src="./public/img/succeed.svg"></h5>
            <p class="finish-text">注册成功！正在转入登录页面(<span class="finishTime">3</span>s)</p>
            <a id="link" href="./signin">返回登录</a>
        </div>
        <%- include('includes/footer') %>  
    </div>
</div>
