.enterprise-info {
    background: red;
    &__title {
        height: 32px;
        line-height: 32px;
        margin-top: -4px;
        margin-right: -14px;
        padding: 0px 10px;
        border-left: 1px solid rgba(52, 63, 75, 0.1);
        border-radius: 3px;
        background-color: #f6f7f9;
        box-sizing: border-box;
        font-size: 12px;
        color: #c6cbd0;
        cursor: not-allowed;
    }
    &__title-enable {
        color: #5a6978 !important;
        cursor: pointer !important;
    }
    &__search-list-wrap {
        max-height: 240px;
        overflow: auto;
    }
    &__tab {
        max-height: 300px;
        overflow: auto;
        :global{
            & ul.mcds-tab__items {
                background-color: white;
                position: absolute;
                width: 100%;
            }
            & .mcds-content__item  {
                margin-top: 41px;
            }
        }
    }
    &__tab-item-title {
        font-size: 12px;
        color: #767d85;
    }
    &__tab-item-content {
        font-size: 12px;
	    color: #2a3541;
    }
    &__tab-separator {
        height: 1px;
        background-color: rgba(52, 63, 75, 0.08);
    }
    &__tab-bottom {
        font-size: 13px;
        text-align: center;
        color: #2c7cff;
        height: 40px;
        line-height: 40px;
        width: 100%;
        :global(.reset-icon) {
            vertical-align: text-bottom;
        }
    }
    &__item-avatar-div {
        margin-left: 24px;
    }
    &__item-name {
        line-height: 24px;
        font-size: 12px;
        font-weight: 500;
        color: #5a6978;
    }
}