.relative {
    position: relative;
    z-index: 5999;
}

.list-border__none {
    border: none;
}

.view-name__overflow {
    float: left;
    max-width: 304px;
    display: block;
}

.absolute-bottom {
    position: fixed;
    bottom: 28px;
    left: 0;
    z-index: 999;
    width: calc(100% - 40px);
    height: 48px;
    line-height: 48px;
    background-color: #fff;
    color: #5a6978;
    -webkit-box-shadow: 0 12px 24px 0 rgba(42, 53, 65, 0.12), 0 0 1px 0 rgba(42, 53, 65, 0.24), 0 24px 48px 0 rgba(42, 53, 65, 0.32);
    box-shadow: 0 12px 24px 0 rgba(42, 53, 65, 0.12), 0 0 1px 0 rgba(42, 53, 65, 0.24), 0 24px 48px 0 rgba(42, 53, 65, 0.32);
    ;
}

.divider:after {
    content: ' ';
    width: 1px;
    height: 12px;
    position: absolute;
    top: 0;
    background: rgba(42, 52, 65, 0.2);
    bottom: 0;
    margin: auto;
}

.detail-pageheader {
    :global(.mcds-table__content) {
        height: auto;
        line-height: 1.33;
        padding-left: 0;
        font-size: 12px;
    }
    :global(.mcds-table__title) {
        padding-left: 0;
        color: #767d85;
        font-size: 12px;
    }
}

.detail-relativeObject {
    :global() {
        position: relative;
    }
    :global {
        .mcds-card__body-loading {
            position: relative;
        }
        .mcds-loading {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 6000;
            background: rgba(0, 0, 0, 0.2);
        }
    }
}


/*
    进度条process 组件下.
    编辑与显示状态的input
 */

.left {
    padding: 20px;
    width: 62%;
}

.right {
    padding: 20px;
    width: 38%;
    .cardList {
        width: 100%;
        & :global(.mcds-list__item) {
            &:first-child {
                margin-top: 0;
                padding-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}


/**
* 新建线索
*/

.error-show {
    display: inline-block;
    color: #e22e3a;
}


/**
 * 模态窗-更改所有人
 */

.modal-belong {
    width: 100%;
    :global {
        .mcds-dropdown {
            width: 100%;
        }
        .mcds-dropdown__item-a {
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
}

.active-line__button {
    position: relative;
    top: -5px;
    z-index: 2;
    left: 40%;
}


/**
 *  tab detail
 */

.edit-item {
    position: relative;
    &__wrap {
        box-shadow: 0 1px 0 0 rgba(52, 63, 75, 0.08);
        font-size: 13px;
        min-height: 33px;
        & :global(.base-field__wrap) {
            display: inline-block;
        }
    }
    &__right-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    & :global(.mcds-readonly__span) {
        display: inline-block;
    }
    & :global(.no-border .mcds-bottom__line) {
        border-bottom: none;
    }
    & :global(.mcds-bottom__line) {
        min-height: 33px;
    }
    & :global(.edit-item__edit-icon) {
        color: #c7cbd0;
        &:hover {
            color: #999da0;
        }
    }
}

.edit-element__active {
    border-radius: 3px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 0 1px #ccd2e0, 0 0 5px 0 rgba(44, 124, 255, 0.6);
    box-shadow: 0 0 0 1px #ccd2e0, 0 0 5px 0 rgba(44, 124, 255, 0.6);
}

.change-belong {
    & :global {
        & .mcds-dropdown__trigger {
            width: 100%;
        }
        & .mcds-dropdown {
            width: 100%;
        }
    }
}

.view-filter {
     &__position {
        position: fixed;
        top: 192px;
        width: 330px;
        z-index: 999;
        background: white;
        right: 0;
        bottom: 0;
     }
     &__indent {
        text-indent: 0!important;
     }
}

.text-disabled__false>span {
    color: #ccc!important;
}

.filter-scrollbar::-webkit-scrollbar {
    display: none
}

.filter-m_t-2 {
    margin-top: -2px;
}

.filter-position__relative {
    position: relative;
    :global {
        .mcds-popover-trigger {
            vertical-align: bottom;
        }
    }
}

.filter-h__32 {
    height: 32px;
}

.view-filter__wrap {
    max-height: 280px;
    overflow-y: auto;
}
.filter-wrap{
    :global {
        .mcds-disabled {
            cursor: not-allowed;
            background: transparent;
        }
    }
}

.border-none {
    border: none;
}

.list-pageHeader__disabled {
    &>span:hover,
    &>span:focus {
        background-color: #fff!important;
    }
}

#moreLoading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 80px;
    background: #fff;
    z-index: 99;
    opacity: .86;
}

.base-modal {
    &__convert {
        :global {
            & .convert-title {
                font-size: 12px;
                line-height: 1.33;
            }
            & .convert-group {
                border-radius: 3px;
                padding: 20px;
                margin-bottom: 30px;
                background-color: #fafafb;
            }
            & .mcds-modal__content {
                height: 70%;
            }
            & .mcds-modal__body {
                height: 100%;
            }
        }
    }
}

.table {
    &-wrapper {
        position: relative;
        overflow-y: auto;
    }
    &-fixed {
        table-layout: fixed;
    }
    &-th__width {
        width: 40px;
    }
    &-data__null {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}


/* 预览卡组件的样式 */

.popover-container {
    width: 320px;
    background-color: #fafafb;
    z-index: 6000;
    .popover-body {
        padding: 0;
        max-height: 550px;
        overflow-y: scroll;
        .popover-body__p-20 {
            padding: 20px 20px 5px;
        }
        .popover-related {
            &>article {
                margin-bottom: 0!important;
            }
            :global(.mcds-card) {
                border: none !important;
            }
            :global {
                .mcds-media__figure {
                    line-height: 1 !important;
                }
                .mcds-media__body {
                    line-height: 20px !important;
                }
            }
        }
    }
    .popover-body::-webkit-scrollbar {
        display: none
    }
}

/* 数据合并modal */
.merge-modal__conflict-tr {
    background-color: rgba(44, 124, 255, 0.05);
    box-shadow: 0 1px 0 0 rgba(52, 63, 75, 0.08);
}
