.width-240{
    width:240px !important;
}
.information,.jurisdiction{
    width: 100%;
    height: 62px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(52, 63, 75, 0.08), 0 0 0 1px rgba(52, 63, 75, 0.04);
}
.vertical-middle{
    vertical-align: middle;
}
.font-style{
    font-weight:300;
    font-family: PingFangSC;
}
.width-232{
    width:232px !important;
}
.background-fff{
    background:#fff;
}